* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.site-name {
  font-family: Alata;
  font-size: 1.8rem;
  text-align: center;
  padding: .5rem 0;
  background-color: rgba(96, 194, 112, 0.521);
}

.nav-menu {
  display: flex;
  padding: 1rem 0;
}

.nav-menu li {
  display: inline;
  padding: 0 10%;
  margin: auto;
}

.nav-menu a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.img {
  width: 96%;
  margin: 0% 2%;
  border-radius: 1rem;
}

.button {
  text-align: center;
  padding: 1rem;
}

.main-cta {
  background-color: rgba(96, 194, 112, 0.521);
  border-radius: .75rem;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 3rem;
}

.main-cta a {
  text-decoration: none;
  color: black;
}

hr {
  border-radius: 0;
  border: none;
  padding: 1rem;
}

.img-block {
  display: flex;
}

.img-block-1,
.img-block-2 {
  width: 46%;
  padding: 2%;
  margin: auto;
}

.img-block-3 {
  width: 96%;
  padding: 2%;
}

.img-block-1,
.img-block-2,
.img-block-3 {
  border-radius: 1rem;
}

.free-install {
  display: block;
  text-align: center;
  font-weight: bolder;
  padding: .5rem 0;
  margin: auto;
  width: 60%;
  background-color: rgb(95, 235, 95);
  border-radius: 1rem;
}